body {
    background-color: #E1E1E1;
    color: black;
    font-family: calibri, sans-serif;
}
#title {
    font-size: 60px;
    margin-bottom: 1em;
    text-align: center;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#img-caption {
    margin: 25px 50px 25px 50px;
    text-align: center;
    font-size: 16px;
}

h2
{
    text-align: center;
}

ul {
    max-width: 870px;
    margin: auto;
    text-align: left;
    font-size:18px
}